//Fonts
@font-face {
    font-family: "avenirNextRegular";
    src: url('./fonts/Linotype\ -\ AvenirNextLTPro-Regular.otf') format('opentype'),
        url('./fonts/alternative-files/Linotype\ -\ Avenir\ Next\ LT\ Pro.ttf') format('truetype'),
        url('https://fonts.google.com/specimen/Roboto');
}
@font-face {
    font-family: "avenirNextDemiBold";
    src: url('./fonts/Linotype\ -\ AvenirNextLTPro-Demi.otf') format('opentype'),
        url('./fonts/alternative-files/Linotype\ -\ Avenir\ Next\ LT\ Pro\ Demi.ttf') format('truetype'),
        url('https://fonts.google.com/specimen/Roboto');
}
@font-face {
    font-family: "avenirNextBold";
    src: url('./fonts/Linotype\ -\ AvenirNextLTPro-Bold.otf') format('opentype'),
        url('./fonts/alternative-files/Linotype\ -\ Avenir\ Next\ LT\ Pro\ Bold.ttf') format('truetype'),
        url('https://fonts.google.com/specimen/Roboto');
}

//Variable Colors
    //Global
    $black: #323232; //Paragraph Text
    $silver: #AFAFAF; //Text Label Style
    $mercury: #E1E1E1; //Text field border
    $alabaster: #FAFAFA; // Text Field Background Fill
    //Instock Colors
    $black: #323232; //Navigation background fill
    $inStockBlue: #004892;  //Primary CTA and Text link
    $inStockBlueDark: #002F5F; //Primarly CTA Hover 
    //BrainFlix
    $black: #323232; //Navigation background fill
    $brainFlixBlue: #0095FF; //Primary CTA and Text Link
    $brainFlixBlueDark: #0065AD; //Primary CTA Hover
    //BandSite
    $black: #323232; //Navigation background fill
    $black: #323232; //Primary CTA
    $brainFlixBlueDark: #0065AD; //Primary CTA Hover


//Global Stylings
body {
    //Global Stylings
    margin: 0px;
    font-family: "avenirNextRegular";
    background-color: $alabaster;
    color: $black;

    //Mobile Body Stylings
    h1 {
        font-size: 24px;
        line-height: 32px;
    }
    h2 {
        font-size: 14px;
        line-height: 22px;
    }
    h4 {
        font-size: 13px;
        line-height: 18px;
    }
    h5 {
        font-size: 12px;
        line-height: 20px;
    }

    //media 768px tablet display
    @media (min-width: 768px) {
        h1 {
            font-size: 24px;
            line-height: 32px;
        }
        h2 {
            font-size: 14px;
            line-height: 22px;
        }
        h4 {
            font-size: 13px;
            line-height: 18px;
        }
        h5 {
            font-size: 12px;
            line-height: 20px;
        }
    }
    //media 1440p desktop display
    @media (min-width: 1440px) {

    }
}

//General Class Stylings 
.bandsite__header {
    display: flex;
    flex-wrap: wrap;
    color: $alabaster;
    background-color: $black;
    height: 80px;
    position: relative;
    z-index: 2;
    a {
        color: $alabaster;
        text-decoration: none;
    }
}
.bandsite__header__logo {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 16px;
    text-align: center;
    h1 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 7px;
    }
    @media (min-width: 768px) {
        width: auto;
        margin: auto 16px;
        h1 {
            padding: 0px;
        }
    }
    @media (min-width: 768px) {
        margin-left: 180px;
        margin-right: 0px;
    }
}
.bandsite__header__menu {
    width: 100%;
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        padding-inline-start: 0px;
        box-sizing: border-box;
        margin-top: 0px;
        margin-bottom: 0px;
        li {
            color: $mercury;
            box-sizing: border-box;
            width: 50%;
            text-align: center;
            padding-bottom: 2px;
            border-bottom: 5px solid $black;
            &:hover { 
                color: $alabaster;
                border-bottom: 5px solid $alabaster;
            }
            h4 {
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
    }
    @media (min-width: 768px) {
        width: 50%;
        ul {
            height: 100%;
            li {
                width: auto;
                margin: auto 16px;
                padding: 32px 24px 22px;

            }
        }
    }
    @media (min-width: 1440px) {
        ul {
            li {
                width: 80px;
                margin-left: 56px;
                margin-right: 0px;
                padding:32px 0px 22px;
            }
        }
    }
}
.bandsite-shows__hero {
    color: $alabaster;
    background-color: rgba($color: $black, $alpha: 0.5); 
    display: inline-block;
    position: relative;
    height: 472px;
    @media (min-width: 768px) {
        height: 670px;
    }
}
.bandsite-shows__hero__image {
    height: 472px;
    img {
        width: 100%;
        height: 472px;
    }
    @media (min-width: 768px) {
    height: 670px;
        img {
            height: 670px;
        }
    }
}
.bandsite-shows__hero__content {
    z-index: 1;
    top: 0px;
    position: absolute;
    box-sizing: border-box;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    h1 {
        font-family: "avenirNextBold";
        margin-bottom: 0px;
    }
    @media (min-width: 768px) {
        margin-top: 96px;
        margin-left: 24px;
        margin-right: 24px;
        h1 {
            width: 80%;
            font-size: 57px;
            line-height: 75px;
        }
        h2 {
            font-size: 24px;
        }

    }
    @media (min-width: 1440px) {
        margin-top: 160px;
        margin-left: 180px;
        margin-right: 180px;
        h1 {
            width: 100%;
        }
    }
}
.bandsite-shows__hero__content__text {
    @media (min-width: 1440px) {
        width: 60%;
    }
}
.bandsite-shows__hero__content__music-player {
    margin-top: 64px;
    iframe {
        width: 100%; 
    }
    @media (min-width: 768px) {
        width: 56%;
    }
    @media (min-width: 1440px) {
        width: 40%;
    }
}
.bandsite-shows__showtimes {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    h1 {
        font-family: "avenirNextBold";
    }
    @media (min-width: 768px) {
        margin: 32px 24px 40px;   
    }
    @media (min-width: 1440px) {
        margin: 48px 180px 40px;   
    }
}
.bandsite-shows__showtimes__title {
    width: 100%;
    @media (min-width: 768px) {
           
    }
    @media (min-width: 1440px) {
        width: 25%;   
    }
}
.bandsite-shows__showtimes__table {
    width: 100%;
    @media (min-width: 768px) {
           
    }
    @media (min-width: 1440px) {
        width: 75%;   
    }
}
.bandsite-shows__showtimes__table__row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    border-bottom: 2px solid $mercury;
}
.bandsite-shows__showtimes__table__column {
    width: 100%;
    button {
        width: 100%;
        box-sizing: border-box;
        color: $alabaster;
        background-color: $black;
        border: none;
        border-radius: 4px;
        margin-top: 8px;
        margin-bottom: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        &:hover {
            background-color: black;
        }
    }
    .name {
        color: $silver;
        margin-top: 0px;
        margin-bottom: 16px;
    }
    .value {
        color: $black;
        margin-bottom: 24px;
    }
    @media (min-width: 1440px) {
        button {
            width: 160px;
            height: 48px;
            padding: 0px;
            margin-bottom: 16px;
            margin-top: 52px;
        }
        .name {
            margin-bottom: 40px;
        } 
        .value {
            margin-bottom: 40px;
        }  
    }
}
.bandsite-shows__showtimes__table__column:nth-child(1n) {
    @media (min-width: 768px) {
        width: 30%;  
    }
}
.bandsite-shows__showtimes__table__column:nth-child(2n) {
    @media (min-width: 768px) {
        width: 20%;  
    }
}
.bandsite-shows__showtimes__table__column:nth-child(3n) {
    @media (min-width: 768px) {
        width: 20%;  
    }
}
.bandsite-shows__showtimes__table__column:nth-child(4n) {
    @media (min-width: 768px) {
        width: 30%;  
    }
}
.btn { 
    margin-top: 8px;
}
.bandsite__footer {
    color: $alabaster;
    background-color: $black;
    padding-top: 40px;
    padding-bottom: 40px;
}
.bandsite__footer__social-media {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin-left: 16px;
    margin-right: 16px;
    @media (min-width: 768px) {
        margin-left: 24px;
        margin-right: 24px;  
    }
    @media (min-width: 1440px) {
        margin-left: 180px;
        margin-right: 180px;  
    }
}
.bandsite__footer__social-media__title {
    box-sizing: border-box;
    width: 100%;
    font-family: "avenirNextBold";
    @media (min-width: 768px) {
        width: 33%;
        h1 {
            font-size: 32px;
            height: 90px;
            margin-top: 30px;
        }  
    }
    @media (min-width: 1440px) {
        width: 25%;
    }
}
.bandsite__footer__social-media__icon {
    box-sizing: border-box;
    margin: 32px 0px;
    width: 100%;
    img {
        margin-left: 16px;
    }
    @media (min-width: 768px) {
        width: 33%;  
    }
    @media (min-width: 1440px) {
        width: 25%;
    }
}
.bandsite__footer__contact-us {
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;
    margin-right: 16px;
    @media (min-width: 768px) {
        margin-left: 24px;
        margin-right: 24px;  
    }
    @media (min-width: 1440px) {
        margin-left: 180px;
        margin-right: 180px;  
    }
}
.bandsite__footer__contact-us__column {
    width: 100%;
    h2 {
        font-family: "avenirNextDemiBold";
        margin-bottom: 16px; 
    }
    h5 {
        font-family: "avenirNextRegular";
        margin-top: 16px;
        margin-bottom: 16px;
    }
    @media (min-width: 768px) {
        width: 33%;
    }
    @media (min-width: 1440px) {
        width: 25%;
    }
}
.bandsite__footer__copyright {
    margin-left: 16px;
    margin-right: 16px;
    @media (min-width: 768px) {
        margin-left: 24px;
        margin-right: 24px;  
    }
    @media (min-width: 1440px) {
        margin-left: 180px;
        margin-right: 180px;
    }
}